---
import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Política de Cookies">
	<main>
		<div class="flex flex-col mx-auto max-w-screen-2xl px-8 py-8 space-y-6">
			<span class="text-3xl sm:text-4xl text-center">
				Política de Cookies
			</span>

			<span class="text-lg sm:text-xl">
				Utilizamos Cookies propias y de terceros para mejorar nuestros servicios y mostrarle publicidad relacionada con sus preferencias mediante el análisis de sus hábitos de navegación. Si continua navegando, consideramos que acepta su uso. Puede obtener más información acerca de nuestra Política de Cookies accediendo al link del mismo nombre incluido en todas nuestras páginas de navegación o en el siguiente link: <a href="" class="font-medium hover:underline">Configurar Cookies</a>
				
				<ul class="list-decimal ps-8 pt-4">
					<li>Podemos recabar información sobre su ordenador, incluido, en su caso, su dirección de IP, sistema operativo y tipo de navegador, para la administración del sistema. Se trata de datos estadísticos sobre cómo navegas por nuestro sitio Web.</li>
					<li>Por la misma razón, podemos obtener información sobre su uso general en nuestra tienda mediante un archivo de cookies que se almacena en el disco duro de su ordenador. Las cookies contienen información que se transfiere al disco duro de su ordenador.</li>
					<li>Las cookies nos ayudan a mejorar nuestro sitio Web y a prestar un servicio mejor y más personalizado. En concreto, nos permiten:
						<ol class="list-decimal ps-8">
							<li>Hacer una estimación sobre números y patrones de uso.</li>
							<li>Almacenar información acerca de sus preferencias y personalizar nuestro sitio web de conformidad con sus intereses individuales.</li>
							<li>Acelerar sus búsquedas.</li>
							<li>Reconocerle cuando regrese de nuevo a nuestro sitio.</li>
						</ol>
					</li>
					<li>Puede negarse a aceptar cookies activando la configuración en su navegador que permite rechazar las cookies. No obstante, si selecciona esta configuración, quizá no pueda acceder a determinadas partes del Sitio Web o no pueda aprovecharse de alguno de nuestros servicios. A menos que haya ajustado la configuración de su navegador de forma que rechace cookies, nuestro sistema producirá cookies cuando se conecte a nuestro sitio.</li>
					<li>¿Cómo puedo desactivar las cookies?</li>
					<li>La mayoría de los navegadores indican cómo configurar su navegador para que no acepte cookies, para que le notifique cada vez que reciba una nueva cookie, así como para desactivarlas completamente. Para controlar qué uso quiere que se haga de su información, puede configurar el navegador de su terminal en la forma que estime más conveniente para Vd. Le indicamos los siguientes enlaces, donde podrá encontrar más información sobre los diferentes navegadores:
						<ol class="list-decimal ps-8">
							<li>Chrome: <a href="https://www.google.es/intl/es/policies/technologies/managing/" class="font-medium hover:underline">https://www.google.es/intl/es/policies/technologies/managing/</a></li>
							<li>Explorer: <a href="http://windows.microsoft.com/es-es/windows7/how-to-manage-cookies-ininternet-explorer-9" class="font-medium hover:underline">http://windows.microsoft.com/es-es/windows7/how-to-manage-cookies-ininternet-explorer-9</a></li>
							<li>Firefox: <a href="http://support.mozilla.org/es/kb/habilitar-y-deshabilitar-cookies-que-lossitios-we" class="font-medium hover:underline">http://support.mozilla.org/es/kb/habilitar-y-deshabilitar-cookies-que-lossitios-we</a></li>
							<li>Safari: <a href="http://support.apple.com/kb/ph5042" class="font-medium hover:underline">http://support.apple.com/kb/ph5042</a></li>
							<li>Opera: <a href="http://www.opera.com/help/tutorials/security/privacy/" class="font-medium hover:underline">http://www.opera.com/help/tutorials/security/privacy/</a></li>
						</ol>
					</li>
				</ul>
			</span>

			<span class="text-lg sm:text-xl">
				Si no desea ser rastreado por las cookies de Google Analytics, Google ha desarrollado un complemento para instalar en su navegador al que puede acceder en el siguiente enlace: <a href="http://goo.gl/up4ND" class="font-medium hover:underline">http://goo.gl/up4ND</a>
			</span>

			<span class="text-lg sm:text-xl">
				A continuación puede ver el listado detallado de Cookies:
			</span>

			<span class="text-lg sm:text-xl">
				<table class="border-collapse border border-slate-500">
					<thead>
						<tr>
							<th class="border border-slate-700 p-2">COOKIE</th>
							<th class="border border-slate-700 p-2">TIPO</th>
							<th class="border border-slate-700 p-2">DURACIÓN</th>
							<th class="border border-slate-700 p-2">DESCRIPCIÓN</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="border border-slate-700 p-2 text-center">Necesarias</td>
						</tr>
						<tr>
							<td class="border border-slate-700 p-2">cookielawinfo-checkbox-analytics</td>
							<td class="border border-slate-700 p-2">0</td>
							<td class="border border-slate-700 p-2">1 year</td>
							<td class="border border-slate-700 p-2">This cookie is set by GDPR Cookie Consent plugin. The purpose of this cookie is to check whether or not the user has given their consent to the usage of cookies under the category ‘Analytics’.</td>
						</tr>
						<tr>
							<td class="border border-slate-700 p-2">cookielawinfo-checkbox-advertisement</td>
							<td class="border border-slate-700 p-2">0</td>
							<td class="border border-slate-700 p-2">1 year</td>
							<td class="border border-slate-700 p-2">This cookie is set by GDPR Cookie Consent plugin. The purpose of this cookie is to check whether or not the user has given their consent to the usage of cookies under the category ‘Advertisement’.</td>
						</tr>
						<tr>
							<td class="border border-slate-700 p-2">viewed_cookie_policy</td>
							<td class="border border-slate-700 p-2">0</td>
							<td class="border border-slate-700 p-2">1 hour</td>
							<td class="border border-slate-700 p-2">The cookie is set by the GDPR Cookie Consent plugin and is used to store whether or not user has consented to the use of cookies. It does not store any personal data.</td>
						</tr>
						<tr>
							<td class="border border-slate-700 p-2">cookielawinfo-checkbox-necessary</td>
							<td class="border border-slate-700 p-2">0</td>
							<td class="border border-slate-700 p-2">1 year</td>
							<td class="border border-slate-700 p-2">This cookie is set by GDPR Cookie Consent plugin. The purpose of this cookie is to check whether or not the user has given the consent to the usage of cookies under the category ‘Necessary’.</td>
						</tr>
						<tr>
							<td class="border border-slate-700 p-2">cookielawinfo-checkbox-non-necessary</td>
							<td class="border border-slate-700 p-2">0</td>
							<td class="border border-slate-700 p-2">1 year</td>
							<td class="border border-slate-700 p-2">This cookie is set by GDPR Cookie Consent plugin. The purpose of this cookie is to check whether or not the user has given their consent to the usage of cookies under the category ‘Non-Necessary’.</td>
						</tr>
						<tr>
							<td class="border border-slate-700 p-2 text-center">Analíticas</td>
						</tr>
						<tr>
							<td class="border border-slate-700 p-2">_ga</td>
							<td class="border border-slate-700 p-2">0</td>
							<td class="border border-slate-700 p-2">2 years</td>
							<td class="border border-slate-700 p-2">This cookie is installed by Google Analytics. The cookie is used to calculate visitor, session, camapign data and keep track of site usage for the site’s analytics report. The cookies store information anonymously and assigns a randoly generated number to identify unique visitors.</td>
						</tr>
						<tr>
							<td class="border border-slate-700 p-2">_gid</td>
							<td class="border border-slate-700 p-2">0</td>
							<td class="border border-slate-700 p-2">1 day</td>
							<td class="border border-slate-700 p-2">This cookie is installed by Google Analytics. The cookie is used to store information of how visitors use a website and helps in creating an analytics report of how the wbsite is doing. The data collected including the number visitors, the source where they have come from, and the pages viisted in an anonymous form.</td>
						</tr>
						<tr>
							<td class="border border-slate-700 p-2">_gat</td>
							<td class="border border-slate-700 p-2">0</td>
							<td class="border border-slate-700 p-2">1 minute</td>
							<td class="border border-slate-700 p-2">This cookies is installed by Google Universal Analytics to throttle the request rate to limit the colllection of data on high traffic sites.</td>
						</tr>
						<tr>
							<td class="border border-slate-700 p-2 text-center">Publicidad</td>
						</tr>
						<tr>
							<td class="border border-slate-700 p-2">_fbp</td>
							<td class="border border-slate-700 p-2">0</td>
							<td class="border border-slate-700 p-2">2 months</td>
							<td class="border border-slate-700 p-2">This cookie is set by Facebook to deliver advertisement when they are on Facebook or a digital platform powered by Facebook advertising after visiting this website.</td>
						</tr>
						<tr>
							<td class="border border-slate-700 p-2">fr</td>
							<td class="border border-slate-700 p-2">1</td>
							<td class="border border-slate-700 p-2">2 months</td>
							<td class="border border-slate-700 p-2">The cookie is set by Facebook to show relevant advertisments to the users and measure and improve the advertisements. The cookie also tracks the behavior of the user across the web on sites that have Facebook pixel or Facebook social plugin.</td>
						</tr>
						<tr>
							<td class="border border-slate-700 p-2">NID</td>
							<td class="border border-slate-700 p-2">1</td>
							<td class="border border-slate-700 p-2">6 months</td>
							<td class="border border-slate-700 p-2">This cookie is used to a profile based on user’s interest and display personalized ads to the users.</td>
						</tr>
					</tbody>
				</table>
			</span>

			<span class="text-lg sm:text-xl">
                Si desea salir y borrar las cookies siga el siguiente enlace: <a href="" class="font-medium hover:underline">Borrar cookies</a>
            </span>
		</div>
		<Footer/>
	</main>
</Layout>
