---
---

<div class="bg-zinc-900 text-white mt-6">
    <div class="min-h-24 flex flex-col justify-center items-center">
        <span>
            <ul class="space-x-2 p-2 text-center text-sm sm:text-base">
                <li class="inline-block">
                    <a target="_blank" href="/aviso-legal">Aviso legal</a>
                </li>
                <li class="inline-block">
                    |
                </li>
                <li class="inline-block">
                    <a target="_blank" href="/politica-de-privacidad">Política de privacidad</a>
                </li>
                <li class="inline-block">
                    |
                </li>
                <li class="inline-block">
                    <a target="_blank" href="/politica-de-cookies">Política de Cookies</a>
                </li>
            </ul>
        </span>
        <span class="p-2 text-center text-sm sm:text-base">
            ©2024 - MasMovil Negocios Distribuidor Autorizado - Todos los Derechos Reservados
        </span>
    </div>
</div>