---
---

<div class="thanks hidden opacity-0 transition-opacity duration-200 fixed flex inset-0 bg-black bg-opacity-50 z-10">
    <div class="flex p-4 m-auto max-w-2xl">
        <div class="bg-white rounded-lg shadow space-y-4 p-6">
            <div class="flex justify-center items-center rtl:space-x-reverse space-x-2">
                <img src="/img/logo.svg" class="h-8 sm:h-10 md:h-12" alt="MasMovil Negocios Logo" />
                <div class="inline-block w-0.5 self-stretch bg-zinc-950"></div>
                <span class="grid justify-items-center text-sm md:text-base bg-zinc-950 text-yellow_mm px-2 py-1">
                    <span class="text-sm font-bold">Distribuidor</span>
                    <span class="text-sm font-bold">Autorizado</span>
                </span>
            </div>
            <div class="space-y-2">
                <p class="text-xl text-center">
                    🎉 Genial 🎉
                </p>
                <p class="text-base text-center">
                    Información enviada correctamente, en breve nos pondremos en contacto contigo. ¡Gracias por confiar en nosotros!
                </p>
            </div>
        </div>
    </div>
</div>